.btn {
    border-radius: 5px;
    padding: 5px 10px;
    /* font-size: 10px; */
    text-decoration: none;
    margin: 10px;
    color: #fff;
    position: relative;
    display: inline-block;
}

.btn:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
}

.blue {
    background-color: #55acee;
    box-shadow: 0px 5px 0px 0px #3C93D5;
}

.blue:hover {
    background-color: #6FC6FF;
}


.green {
    background-color: #2ecc71;
    box-shadow: 0px 5px 0px 0px #15B358;
}

.green:hover {
    background-color: #48E68B;
}

.orange {
    background-color: #e67e22;
    box-shadow: 0px 5px 0px 0px #CD6509;
}

.orange:hover {
    background-color: #FF983C;
}

.yellow {
    background-color: #f1c40f;
    box-shadow: 0px 5px 0px 0px #D8AB00;
}

.yellow:hover {
    background-color: #FFDE29;
}

.white {
    background-color: white;
    box-shadow: 0px 5px 0px 0px whitesmoke;
    color: black;
}

.white:hover {
    background-color: lightcyan;
}

.gray {
    background-color: gray;
    box-shadow: 0px 5px 0px 0px lightgray;
}

.gray:hover {
    background-color: lightgrey;
}

.red {
    background-color: #b30000;
    box-shadow: 0px 5px 0px 0px darkred;
}

.red:hover {
    background-color: lightcoral;
}

.None {
    color: black;
}

/* Numbers */

.numbers-row {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
}


.container{
    margin: 2%;
    margin-left: 10%;
    margin-right: 10%;
}

.row-item {
    height: 20px;
    width: 20px;
    padding: 10px;
    margin: 1vw;
    margin-top: 0.5vh;
    flex:auto;
    text-align: center;
}

.submit {
    height: 20px;
    width: 20px;
    padding: 20px;
    margin: 0 20% 0 20%;
    flex: auto;
    text-align: center;
}


@media only screen and (max-width: 600px) {

    /* Numbers */

    .numbers-row {
        display: flex;
        flex-wrap: nowrap;
        align-items: stretch;
    }


    .container {
        margin: 5%;
    }

    .row-item {
        height: 20px;
        width: 20px;
        padding: 10px;
        margin: 0.5vw;
        margin-top: 0.5vh;
        flex: auto;
        text-align: center;
    }

    .submit {
        height: 20px;
        width: 20px;
        padding: 20px;
        margin: 0 20% 0 20%;
        flex: auto;
        text-align: center;
    }

}