.btn_ {
    border-radius: 5px;
    padding: 10px 10px;
    /* font-size: 10px; */
    text-decoration: none;
    margin: 20px;
    color: #fff;
    position: relative;
    display: inline-block;
    border-color: transparent;
}

.btn_:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
}

.half-btn {
    border-radius: 5px;
    padding: 10px 10px;
    /* font-size: 10px; */
    text-decoration: none;
    margin: 5px;
    color: #fff;
    position: relative;
    display: inline-block;
}

.half-btn:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
}

.blue {
    background-color: #55acee;
    box-shadow: 0px 5px 0px 0px #3C93D5;
}

.blue:hover {
    background-color: #6FC6FF;
}

.green {
    background-color: #2ecc71;
    box-shadow: 0px 5px 0px 0px #15B358;
}

.green-text {
    color: #2ecc71;
}

.green:hover {
    background-color: #48E68B;
}

.orange {
    background-color: #e67e22;
    box-shadow: 0px 5px 0px 0px #CD6509;
}

.orange-text {
    color: #e67e22;
}

.orange:hover {
    background-color: #FF983C;
}

.yellow {
    background-color: #f1c40f;
    box-shadow: 0px 5px 0px 0px #D8AB00;
    color: #202020;
}

.yellow:hover {
    background-color: #FFDE29;
}

.white {
    background-color: white;
    box-shadow: 0px 5px 0px 0px whitesmoke;
    color: black;
    border-color: black;
}

.white:hover {
    background-color: lightcyan;
}

.gray {
    background-color: gray;
    box-shadow: 0px 5px 0px 0px lightgray;
}

.gray:hover {
    background-color: lightgrey;
}

.red {
    background-color: #b30000;
    box-shadow: 0px 5px 0px 0px darkred;
}

.red:hover {
    background-color: lightcoral;
}

.None {
    color: black;
}

.no-bg-color {
    color: black;
    background-color: transparent;
}


/* Numbers */

.numbers-row {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
}

.container {
    padding-bottom: 150px;
}

.row-item {
    min-height: 40px;
    height: 20px;
    min-width: 40px;
    width: 20px;
    padding: 10px;
    margin: 5px;
    margin-top: 10px;
    flex: auto;
    text-align: center;
}

.submit {
    height: 40px;
    width: 20px;
    margin: 0 20% 0 20%;
    flex: auto;
    text-align: center;
}

.forfeit {
    height: 40px;
    width: 20px;
    margin: 0 35% 0 35%;
    flex: auto;
    text-align: center;
}

.center-logo {
    width: 50px;
    margin: 5px;
    text-align: center;
}

.menu-item {
    padding: 12px;
    margin: 10px;
}

.vertical-line {
    border-left: 6px solid gray;
    margin: 8px;
    border-radius: 5px;
    box-shadow: 0px 5px 0px 0px gray;
}

.green-border {
    border-color: #2ecc71;
    box-shadow: 0px 5px 0px 0px #15B358;
}

.orange-border {
    border-color: #e67e22;
    box-shadow: 0px 5px 0px 0px #CD6509;
}

.try-result-text {
    width: 80px;
    min-width: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
}

@media only screen and (max-width: 600px) {

    /* Numbers */

    .numbers-row {
        display: flex;
        flex-wrap: nowrap;
        align-items: stretch;
    }

    .row-item {
        margin: 4px;
        margin-top: 7px;
    }

    .submit {
        height: 20px;
        width: 20px;
        padding: 20px;
        margin: 0 20% 0 20%;
        flex: auto;
        text-align: center;
    }

    .menu-item {
        padding: 10px;
        margin: 5px;
    }

    .menu {
        display: flex;
        flex-direction: column;
    }

}


@media only screen and (max-width: 323px) {
    .row-item {
        margin: 0.5vw;
        margin-top: 0.5vh;
    }
}




/* confetti win animation */

.confetti {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    pointer-events: none;
}

.confetti-piece {
    position: absolute;
    width: 10px;
    height: 30px;
    background: #ffd300;
    top: 0;
    opacity: 0;
}

.confetti-piece:nth-child(1) {
    left: 7%;
    -webkit-transform: rotate(-40deg);
    transform: rotate(-40deg);
    -webkit-animation: makeItRain 3000ms infinite ease-out;
    animation: makeItRain 3000ms infinite ease-out;
    -webkit-animation-delay: 182ms;
    animation-delay: 182ms;
    -webkit-animation-duration: 2116ms;
    animation-duration: 2116ms;
}

.confetti-piece:nth-child(2) {
    left: 14%;
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
    -webkit-animation: makeItRain 3000ms infinite ease-out;
    animation: makeItRain 3000ms infinite ease-out;
    -webkit-animation-delay: 161ms;
    animation-delay: 161ms;
    -webkit-animation-duration: 2076ms;
    animation-duration: 2076ms;
}

.confetti-piece:nth-child(3) {
    left: 21%;
    -webkit-transform: rotate(-51deg);
    transform: rotate(-51deg);
    -webkit-animation: makeItRain 3000ms infinite ease-out;
    animation: makeItRain 3000ms infinite ease-out;
    -webkit-animation-delay: 481ms;
    animation-delay: 481ms;
    -webkit-animation-duration: 2103ms;
    animation-duration: 2103ms;
}

.confetti-piece:nth-child(4) {
    left: 28%;
    -webkit-transform: rotate(61deg);
    transform: rotate(61deg);
    -webkit-animation: makeItRain 3000ms infinite ease-out;
    animation: makeItRain 3000ms infinite ease-out;
    -webkit-animation-delay: 334ms;
    animation-delay: 334ms;
    -webkit-animation-duration: 1708ms;
    animation-duration: 1708ms;
}

.confetti-piece:nth-child(5) {
    left: 35%;
    -webkit-transform: rotate(-52deg);
    transform: rotate(-52deg);
    -webkit-animation: makeItRain 3000ms infinite ease-out;
    animation: makeItRain 3000ms infinite ease-out;
    -webkit-animation-delay: 302ms;
    animation-delay: 302ms;
    -webkit-animation-duration: 1776ms;
    animation-duration: 1776ms;
}

.confetti-piece:nth-child(6) {
    left: 42%;
    -webkit-transform: rotate(38deg);
    transform: rotate(38deg);
    -webkit-animation: makeItRain 3000ms infinite ease-out;
    animation: makeItRain 3000ms infinite ease-out;
    -webkit-animation-delay: 180ms;
    animation-delay: 180ms;
    -webkit-animation-duration: 2168ms;
    animation-duration: 2168ms;
}

.confetti-piece:nth-child(7) {
    left: 49%;
    -webkit-transform: rotate(11deg);
    transform: rotate(11deg);
    -webkit-animation: makeItRain 3000ms infinite ease-out;
    animation: makeItRain 3000ms infinite ease-out;
    -webkit-animation-delay: 395ms;
    animation-delay: 395ms;
    -webkit-animation-duration: 2200ms;
    animation-duration: 2200ms;
}

.confetti-piece:nth-child(8) {
    left: 56%;
    -webkit-transform: rotate(49deg);
    transform: rotate(49deg);
    -webkit-animation: makeItRain 3000ms infinite ease-out;
    animation: makeItRain 3000ms infinite ease-out;
    -webkit-animation-delay: 14ms;
    animation-delay: 14ms;
    -webkit-animation-duration: 1887ms;
    animation-duration: 1887ms;
}

.confetti-piece:nth-child(9) {
    left: 63%;
    -webkit-transform: rotate(-72deg);
    transform: rotate(-72deg);
    -webkit-animation: makeItRain 3000ms infinite ease-out;
    animation: makeItRain 3000ms infinite ease-out;
    -webkit-animation-delay: 149ms;
    animation-delay: 149ms;
    -webkit-animation-duration: 1805ms;
    animation-duration: 1805ms;
}

.confetti-piece:nth-child(10) {
    left: 70%;
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
    -webkit-animation: makeItRain 3000ms infinite ease-out;
    animation: makeItRain 3000ms infinite ease-out;
    -webkit-animation-delay: 351ms;
    animation-delay: 351ms;
    -webkit-animation-duration: 2059ms;
    animation-duration: 2059ms;
}

.confetti-piece:nth-child(11) {
    left: 77%;
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
    -webkit-animation: makeItRain 3000ms infinite ease-out;
    animation: makeItRain 3000ms infinite ease-out;
    -webkit-animation-delay: 307ms;
    animation-delay: 307ms;
    -webkit-animation-duration: 2132ms;
    animation-duration: 2132ms;
}

.confetti-piece:nth-child(12) {
    left: 84%;
    -webkit-transform: rotate(42deg);
    transform: rotate(42deg);
    -webkit-animation: makeItRain 3000ms infinite ease-out;
    animation: makeItRain 3000ms infinite ease-out;
    -webkit-animation-delay: 464ms;
    animation-delay: 464ms;
    -webkit-animation-duration: 1776ms;
    animation-duration: 1776ms;
}

.confetti-piece:nth-child(13) {
    left: 91%;
    -webkit-transform: rotate(-72deg);
    transform: rotate(-72deg);
    -webkit-animation: makeItRain 3000ms infinite ease-out;
    animation: makeItRain 3000ms infinite ease-out;
    -webkit-animation-delay: 429ms;
    animation-delay: 429ms;
    -webkit-animation-duration: 1818ms;
    animation-duration: 1818ms;
}

.confetti-piece:nth-child(odd) {
    background: #7431e8;
}

.confetti-piece:nth-child(even) {
    z-index: 1;
}

.confetti-piece:nth-child(4n) {
    width: 5px;
    height: 12px;
    -webkit-animation-duration: 2000ms;
    animation-duration: 2000ms;
}

.confetti-piece:nth-child(3n) {
    width: 3px;
    height: 10px;
    -webkit-animation-duration: 2500ms;
    animation-duration: 2500ms;
    -webkit-animation-delay: 1000ms;
    animation-delay: 1000ms;
}

.confetti-piece:nth-child(4n-7) {
    background: red;
}

@-webkit-keyframes makeItRain {
    from {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    to {
        -webkit-transform: translateY(1000px);
    }
}

@keyframes makeItRain {
    from {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    to {
        -webkit-transform: translateY(1000px);
    }
}