{% extends "../base.html" %} 
{% block content %} 

{% load static %}
<link rel="stylesheet" href="{% static 'play/css/game.css' %}">

<br>
<br>
<br>
<br>

<div class="container">
<form action="{% url 'play:login_done_view' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend>
            <h1>Log in</h1>
        </legend>
        <br>
        <br>

        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" id="username" required>

        <br><br>

        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" id="password" name="password" required>

        <br>{% if error_message %}<p style="color: red;">{{ error_message }}</p>{% endif %}
        <br>

    </fieldset>
    <input class="btn_ blue" type="submit" value="Log in">
</form>
</div>



{% endblock %}