{% extends "../base.html" %} 
{% block content %} 




<form action="{% url 'play:login_done_view' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend>
            <h1>Log in</h1>
        </legend>

        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" id="username" required>

        <br><br>

        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" id="password" name="password" required>

        <br><br>

    </fieldset>
    <input type="submit" value="Log in">
</form>




{% endblock %}