{% extends "../base.html" %}
{% block content %}

<br><br>

<div class="container" style="width: 400px;">

    <form class="px-4 py-3"
        action="{% url 'play:login_done_view' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}" method="post">
        {% csrf_token %}

        <legend>
            <h1>Log in</h1>
        </legend>

        <div class="mb-3">
            <label class="form-label" for="username"><b>Username</b></label>
            <input class="form-control" type="text" placeholder="Enter Username" name="username" id="username" required>
        </div>

        <div class="mb-3">
            <label class="form-label" for="password"><b>Password</b></label>
            <input class="form-control" type="password" placeholder="Enter Password" id="password" name="password" required>
        </div>

        {% if error_message %}<p style="color: red;">{{ error_message }}</p>{% endif %}
        
        <div class="center-a-div">
            <button type="submit" class="half-btn blue">Sign in</button>
        </div>
    </form>

    <div class="dropdown-divider"></div>
    <p>New around here? <a href="{% url 'play:signup_view' %}">Sign up</a></p>
    <!-- <a class="dropdown-item" href="#">Forgot password?</a> -->
</div>



{% endblock %}