{% extends "./base.html" %}
{% block content %}
{% load custom_template_tags %}
{% load static %}

<title>Numble - {{ game.game_mode }} game mode</title>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div class="container">

    <br>

    {% if game.pk == 1 %}
    <h2>How to play</h2>
    <br>
    <h4>Guess the Numble in {{ GAME_TRIES_LIMIT }} tries.</h4>
    <br>
    <p>Each guess must be a valid {{ game_mode_len }}-digit number.</p>
    <p>The color of the tiles will change to show how close your guess was to the number.</p>
    <ul>
        <li><span style="color: gray; font-weight: bold;">Gray</span>: the digit is not in the number in any spot.</li>
        <li><span style="color: #e67e22; font-weight: bold;">Orange</span>: the digit is in the number but in the wrong
            spot.</li>
        <li><span style="color: #2ecc71; font-weight: bold;">Green</span>: the digit is in the number and in the correct
            spot.</li>
    </ul>
    {% else %}
    <h3>Can you guess the {{ game_mode_len }}-digit number in {{ GAME_TRIES_LIMIT }} tries?</h3>
    {% endif %}

    {% for i in game_tries_range %}
    <div class="numbers-row">
        {% for j in game_mode_range %}
        {% get_value_1d game_last_try j as game_last_try_digit %}
        {% get_value_2d game_tries i j as current_try_digit %}
        {% increment i as incremented_by_one %}
        {% if incremented_by_one == game.number_of_tries and game.game_completed == True and game.game_won == True and current_try_digit == game_last_try_digit %}
        <button type="number" class="btn_ green row-item center-logo">{% get_value_2d game_tries i j %}</button>
        {% else %}
        <button type="number" class="btn_ gray row-item center-logo">{% get_value_2d game_tries i j %}</button>
        {% endif %}
        {% endfor %}
        {% get_blind game i as blind_try_result %}
        {% if blind_try_result.correct != 0 %}
        <div class="vertical-line green-border"></div>
        {% elif blind_try_result.partial != 0 %}
        <div class="vertical-line orange-border"></div>
        {% else %}
        <div class="vertical-line"></div>
        {% endif %}
        <b class="try-result-text">
            {% if blind_try_result.partial == 0 and blind_try_result.correct == 0 %}
            <span>{{ game_mode_len }} wrong</span>
            {% endif %}
            {% if blind_try_result.partial != 0 %}
            <span class="orange-text">{{ blind_try_result.partial }} partial</span>
            {% endif %}
            {% if blind_try_result.correct != 0 %}
            <span class="green-text">{{ blind_try_result.correct }} correct</span>
            {% endif %}
        </b>
    </div>
    {% endfor %}

    {% if can_current_request_user_play %}
    <form action=" {% url 'play:game_submit_view' game_mode=game.game_mode game_id=game.pk %} " method="post">
        {% csrf_token %}
        <div class="numbers-row">
            {% for i in game_mode_range %}
            <input type="number" id="input_cell{{i}}" name="input_cell{{i}}" maxlength="1" class="btn_ white  row-item"
                autofocus onfocus="this.select(); this.click();"
                oninput="javascript: if (this.value.length >= this.maxLength) {this.value = this.value.slice(0, this.maxLength); this.nextElementSibling.focus();}"
                required>
            {% endfor %}
            <div class="vertical-line" style="visibility: hidden;"></div>
            <b class="try-result-text" style="visibility: hidden;">
                <span>{{ game_mode_len }} wrong</span>
            </b>
        </div>
        <br>
        <div class="numbers-row"><input type="submit" class="btn_ blue submit" value="Submit"></div>
        <div class="vertical-line" style="visibility: hidden;"></div>
        <b class="try-result-text" style="visibility: hidden;">
            <span>{{ game_mode_len }} wrong</span>
        </b>
    </form>
    {% endif %}

    <br>

    {% if game.game_completed %}
    {% if not game.game_won %}
    <strong>Correct number:</strong>
    <div class="numbers-row">
        {% for i in game_mode_range %}
        <input type="number" id="cell{{i}}{{j}}" name="cell{{i}}{{j}}" maxlength="1" class="btn_ yellow row-item"
            value="{% get_value_1d game.number i %}" disabled>
        {% endfor %}
        <div class="vertical-line" style="visibility: hidden;"></div>
        <b class="try-result-text" style="visibility: hidden;">
            <span>{{ game_mode_len }} wrong</span>
        </b>
    </div>
    <br>
    <!-- <audio id="myAudio">
        <source src="{% static 'play/sounds/lose.mp3' %}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio> -->
    {% else %}
    <!-- <audio id="myAudio">
        <source src="{% static 'play/sounds/win.mp3' %}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio> -->
    <div class="confetti fixed-top">
        <div class="confetti-piece"></div>
        <div class="confetti-piece"></div>
        <div class="confetti-piece"></div>
        <div class="confetti-piece"></div>
        <div class="confetti-piece"></div>
        <div class="confetti-piece"></div>
        <div class="confetti-piece"></div>
        <div class="confetti-piece"></div>
        <div class="confetti-piece"></div>
        <div class="confetti-piece"></div>
        <div class="confetti-piece"></div>
        <div class="confetti-piece"></div>
        <div class="confetti-piece"></div>
    </div>
    {% endif %}

    <!-- <script>
        var audio = document.getElementById("myAudio"); 
        function playAudio() {
            try {
                audio.play();
            } catch ({ name, message }) {}
        } 
        document.body.addEventListener("mousedown", function () {
            playAudio()
        })
    </script> -->

    <p><strong>Game Stats:</strong></p>
    <span class="half-btn blue no-bg-color" data-bs-toggle="tooltip" data-bs-placement="top" 
        title="{{ game.user.first_name }} {{ game.user.last_name }}">👤 {{ game.user.username }}</span>
    <span class="half-btn blue
                {% if game.game_mode == 'easy' %}green{% endif %}
                {% if game.game_mode == 'medium' %}orange{% endif %}
                {% if game.game_mode == 'hard' %}red{% endif %}
                no-bg-color" data-bs-toggle="tooltip" data-bs-placement="top" title="Game Mode">{{ game.game_mode }}</span>
    <span class="half-btn blue no-bg-color
                {% if game.game_won %}yellow{% else %}gray{% endif %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Game Result">{% if game.game_won %}Won 🏆{% else %}Loss ❌{% endif %}</span>
    {% if not game.game_won %}
    <span class="half-btn gray no-bg-color" data-bs-toggle="tooltip" data-bs-placement="top" title="Loss reason">{{ game.lose_reason }}</span>
    {% endif %}
    <span class="half-btn blue no-bg-color" data-bs-toggle="tooltip" data-bs-placement="top" title="Number of Tries">{{ game.number_of_tries }} 🎯</span>
    <span class="half-btn blue no-bg-color" data-bs-toggle="tooltip" data-bs-placement="top" title="Game Duration">{{ game.duration|convert_to_readable_time}} ⏲️</span>
    <span class="half-btn blue no-bg-color" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ game.date }} {{ game.start_time }}">🗓️ {{ game.date }}</span>
    </ul>

    <br><br>
    {% if game.user.username == 'Tutorial' %}
    <strong><a id="newgame" href="{% url 'play:game_view' game.game_mode %}" autofocus>Start a new game</a></strong>
    {% else %}
    <strong><a id="newgame" href="{% url 'play:game_view' game.game_mode %}" autofocus>Play again?</a></strong>

    <script>
        document.getElementById("newgame").focus()
    </script>

    {% endif %}

    {% endif %}

    {% if not game.game_completed and request.user == game.user %}
    <form action="{% url 'play:game_forfeit_view' game.game_mode game.pk %}" method="post">
        {% csrf_token %}
        <div class="numbers-row"><input type="submit" class="btn_ red" value="Forfeit Game"></div>
    </form>
    {% endif %}
    
</div>

<script>
    document.addEventListener('keydown', function(event) {
    // Get the currently focused element
    const focusedElement = document.activeElement;
    // List of focusable elements
    const focusableElements = Array.from(document.querySelectorAll('input, button, [href], select, textarea, [tabindex]:not([tabindex="-1"])'));
    const index = focusableElements.indexOf(focusedElement);

    let nextElement = null;

    // Arrow key codes
    const KEY_CODE_LEFT = 37;
    const KEY_CODE_UP = 38;
    const KEY_CODE_RIGHT = 39;
    const KEY_CODE_DOWN = 40;

    // Function to get the next element based on direction
    function getNextElement(direction) {
        if (direction === 'left' || direction === 'up') {
        return focusableElements[index - 1] || focusableElements[focusableElements.length - 1];
        } else if (direction === 'right' || direction === 'down') {
        return focusableElements[index + 1] || focusableElements[0];
        }
    }

    // Handle arrow key events
    switch (event.keyCode) {
        case KEY_CODE_LEFT:
        nextElement = getNextElement('left');
        break;
        case KEY_CODE_UP:
        nextElement = getNextElement('up');
        break;
        case KEY_CODE_RIGHT:
        nextElement = getNextElement('right');
        break;
        case KEY_CODE_DOWN:
        nextElement = getNextElement('down');
        break;
        default:
        break;
    }

    if (nextElement) {
        event.preventDefault();
        nextElement.focus();
    }
    });
</script>

{% endblock %}