{% extends "./base.html" %}
{% block content %}
{% load custom_template_tags %}
{% load static %}
<link rel="stylesheet" href="{% static 'play/css/game.css' %}">

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div class="container">

{% if game.user.username == 'Tutorial' %}
<h2>How to play</h2>
<br>
<h4>Guess the Numble in {{ GAME_TRIES_LIMIT }} tries.</h4>
<br>
<p>Each guess must be a valid {{ game_mode_len }}-digit number.</p>
<p>The color of the tiles will change to show how close your guess was to the number.</p>
<ul>
    <li><span style="color: gray; font-weight: bold;">Gray</span>: the digit is not in the number in any spot.</li>
    <li><span style="color: #e67e22; font-weight: bold;">Orange</span>: the digit is in the number but in the wrong spot.</li>
    <li><span style="color: #2ecc71; font-weight: bold;">Green</span>: the digit is in the number and in the correct spot.</li>
</ul>
{% else %}
<h3>Guess the {{ game_mode_len }}-digit number!</h3>

{% endif %}

{% for i in game_tries_range %}
<div class="numbers-row">
{% for j in game_mode_range %}
    <input type="number" id="cell{{i}}{{j}}" name="cell{{i}}{{j}}" maxlength="1" value="{% get_value_2d game_tries i j %}" class="btn_ {% get_color game i j %} row-item" disabled>
{% endfor %}
</div>
{% endfor %}
{% if can_current_request_user_play %}
<form action=" {% url 'play:game_submit_view' game_mode=game.game_mode game_id=game.pk %} " method="post">
    {% csrf_token %}
    <div class="numbers-row">
    {% for i in game_mode_range %}
    <input type="number" id="input_cell{{i}}" name="input_cell{{i}}" maxlength="1" class="btn_ white  row-item" autofocus onfocus="this.select(); this.click();" oninput="javascript: if (this.value.length >= this.maxLength) {this.value = this.value.slice(0, this.maxLength); this.nextElementSibling.focus();}" required>
    {% endfor %}
    </div>
    <br>
    <div class="numbers-row"><input type="submit" class="btn_ blue submit" value="Submit"></div>
</form>
{% endif %}
{% if game.game_completed %}

{% if game.game_completed and game.user == request.user %}
<p><h2>Game {% if game.game_won %}Won :){% else %}Lose :({% endif %}</h2></p>
{% endif %}{% if game.game_completed and game.user != request.user %}
<p><h2>{% if game.user.username != 'Anonymous' %}{{ game.user.username }}{% else %}Game{% endif %}{% if game.game_won %} Won{% else %} Loss{% endif %}</h2></p>
{% endif %}

{% if not game.game_won %}
<p><strong>Correct number:</strong></p>
<div class="numbers-row">
{% for i in game_mode_range %}
<input type="number" id="cell{{i}}{{j}}" name="cell{{i}}{{j}}" maxlength="1" class="btn_ yellow row-item" value="{% get_value_1d game.number i %}" disabled>
{% endfor %}
</div>
<br>
{% endif %}
<p><strong>Game Stats:</strong></p>
    <li>Number of tries: {{game.number_of_tries}}</li>
    <li>Duration: {{ game.duration|convert_to_readable_time}}</li>
    <li>Game Status: <strong>{% if game.game_won %}Won{% else %}Lose{% endif %}</strong></li>
  </ul>

  <br>
{% if game.user.username == 'Tutorial' %}
<strong><a href="{% url 'play:game_view' game.game_mode %}">Start a new game</a></strong>
{% else %}
<strong><a href="{% url 'play:game_view' game.game_mode %}">Play again?</a></strong>
{% endif %}

{% endif %}
</div>

{% endblock %}