{% load static %}
{% load custom_template_tags %}

<div id="parent-div">
    {% for game_try in game_tries_range %}
    {% get_value_1d game_tries game_try as game_try_1 %}
    {% get_value_1d game_tries2 game_try as game_try_2 %}
    <p class="border-top border-2 mt-2">Try #{% increment game_try %}:</p>
    {% for i in game_mode_range %}
    <div class="numbers-row">
        {% if i == game.pivot %}
            {% for j in game_mode_range %}
                {% if j == game.pivot %}
                <button type="number" id="try{% increment game_try %}__2_{{i}}" class="btn_ {% get_color_by_numbers game.number game.number2 game_try_1 j %} row-item center-logo">{% get_value_1d game_try_1 j %}</button>
                {% else %}
                <button type="number" id="try{% increment game_try %}__1_{{j}}" class="btn_ {% get_color_by_number game.number game_try_1 j %} row-item center-logo">{% get_value_1d game_try_1 j %}</button>
                {% endif %}
            {% endfor %}

        {% else %}
            {% for j in game_mode_range %}
                {% if j == game.pivot %}
                <button type="number" id="try{% increment game_try %}__2_{{i}}" class="btn_ {% get_color_by_number game.number2 game_try_2 i %} row-item center-logo">{% get_value_1d game_try_2 i %}</button>
                {% else %}
                <button type="number" id="try{% increment game_try %}__1_{{j}}" class="btn_ gray row-item center-logo" style="visibility: hidden;">-</button>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    {% endfor %}
    {% endfor %}

    {% if not game.game_completed %}
    <div class="border-top border-2 mt-4">Please enter try #{% increment game.number_of_tries %}:</div>
    {% endif %}

    <script>
    
        document.getElementById('input_cell0').value = '';
        document.getElementById('input_cell1').value = '';
        document.getElementById('input_cell2').value = '';
        document.getElementById('input_cell3').value = '';
        try {
            document.getElementById('input_cell2_0').value = '';
        } catch (error) {}
        try {
            document.getElementById('input_cell2_1').value = '';
        } catch (error) {}
        try {
            document.getElementById('input_cell2_2').value = '';
        } catch (error) {}
        try {
            document.getElementById('input_cell2_3').value = '';
        } catch (error) {}

        let focus_point = document.querySelectorAll('.user-input')
        focus_point[0].focus()

        // document.getElementById("input_cell0").focus()
    
        // gray = document.getElementById('try{{game.number_of_tries}}__2_0').classList.contains('gray')
        // orange = document.getElementById('try{{game.number_of_tries}}__2_0').classList.contains('orange')
        // if(gray || orange){
        //     document.getElementById('input_cell2_0').value = '';
        // }

        // gray = document.getElementById('try{{game.number_of_tries}}__2_1').classList.contains('gray')
        // orange = document.getElementById('try{{game.number_of_tries}}__2_1').classList.contains('orange')
        // if(gray || orange){
        //     document.getElementById('input_cell2_1').value = '';
        // }

        // gray = document.getElementById('try{{game.number_of_tries}}__2_2').classList.contains('gray')
        // orange = document.getElementById('try{{game.number_of_tries}}__2_2').classList.contains('orange')
        // if(gray || orange){
        //     document.getElementById('input_cell2_2').value = '';
        // }

        // gray = document.getElementById('try{{game.number_of_tries}}__2_3').classList.contains('gray')
        // orange = document.getElementById('try{{game.number_of_tries}}__2_3').classList.contains('orange')
        // if(gray || orange){
        //     document.getElementById('input_cell2_3').value = '';
        // }

        // try{
        //     gray = document.getElementById('try{{game.number_of_tries}}__1_0').classList.contains('gray')
        //     orange = document.getElementById('try{{game.number_of_tries}}__1_0').classList.contains('orange')
        //     if(gray || orange){
        //         document.getElementById('input_cell0').value = '';
        //     }
        // } catch (error) {}

        // try {
        //     gray = document.getElementById('try{{game.number_of_tries}}__1_1').classList.contains('gray')
        //     orange = document.getElementById('try{{game.number_of_tries}}__1_1').classList.contains('orange')
        //     if(gray || orange){
        //         document.getElementById('input_cell1').value = '';
        //     }
        // } catch (error) {}

        // try{
        //     gray = document.getElementById('try{{game.number_of_tries}}__1_2').classList.contains('gray')
        //     orange = document.getElementById('try{{game.number_of_tries}}__1_2').classList.contains('orange')
        //     if(gray || orange){
        //         document.getElementById('input_cell2').value = '';
        //     }
        // } catch (error) {}

        // try{
        //     gray = document.getElementById('try{{game.number_of_tries}}__1_3').classList.contains('gray')
        //     orange = document.getElementById('try{{game.number_of_tries}}__1_3').classList.contains('orange')
        //     if(gray || orange){
        //         document.getElementById('input_cell3').value = '';
        //     }
        // } catch (error) {}
    </script>

    {% if game.game_completed %}
    <br>
    {% if not game.game_won %}
    <strong>Correct number:</strong>
    <div class="numbers-row">
        {% for i in game_mode_range %}
        <input type="number" id="cell{{i}}{{j}}" name="cell{{i}}{{j}}" maxlength="1" class="btn_ yellow row-item"
            value="{% get_value_1d game.number i %}" disabled>
        {% endfor %}
    </div>
    <br>
    <audio id="audio">
        <source src="{% static 'play/sounds/lose.mp3' %}" type="audio/mpeg" muted>
        Your browser does not support the audio element.
    </audio>
    {% else %}
    <audio id="audio">
        <source src="{% static 'play/sounds/win.mp3' %}" type="audio/mpeg" muted>
        Your browser does not support the audio element.
    </audio>
    <div class="confetti fixed-top">
        <div class="confetti-piece"></div>
        <div class="confetti-piece"></div>
        <div class="confetti-piece"></div>
        <div class="confetti-piece"></div>
        <div class="confetti-piece"></div>
        <div class="confetti-piece"></div>
        <div class="confetti-piece"></div>
        <div class="confetti-piece"></div>
        <div class="confetti-piece"></div>
        <div class="confetti-piece"></div>
        <div class="confetti-piece"></div>
        <div class="confetti-piece"></div>
        <div class="confetti-piece"></div>
    </div>
    {% endif %}

    <script>
        var userInputDivId = 'user-input'
        var forfeitDivId = 'forfeit'
        
        var userInputDiv = document.getElementById(userInputDivId);
        if (userInputDiv) {
            userInputDiv.style.display = 'none';
        }
        var forfeitDiv = document.getElementById(forfeitDivId);
        if (forfeitDiv) {
            forfeitDiv.style.display = 'none';
        }
        

        var targetDivId = 'content';
        var audio = document.getElementById('audio');

        document.body.addEventListener('htmx:afterSwap', function(event) {
            var targetDiv = document.getElementById(targetDivId);
            if (targetDiv && event.detail.target.id === targetDivId) {
                audio.play();
                audio.muted = false;
            }
        });

        var targetDiv = document.getElementById(targetDivId);
        if (targetDiv && targetDiv.innerHTML.trim() !== "") {
            audio.play();
            audio.muted = false;
        }
    </script>

    <p id="content"><strong>Game Stats:</strong></p>
    {% if game.user.username != 'Anonymous' %}
    <a href="{% url 'play:user_profile' game.user.username %}"><span class="half-btn blue no-bg-color" 
        data-bs-toggle="tooltip" data-bs-placement="top" 
        title="{{ game.user.first_name }} {{ game.user.last_name }}">👤 {{ game.user.username }}</a></span>
    {% else %}
    <span class="half-btn blue no-bg-color" 
        data-bs-toggle="tooltip" data-bs-placement="top" 
        title="{{ game.user.first_name }} {{ game.user.last_name }}">👤 {{ game.user.username }}</span>
    {% endif %}
    <span class="half-btn blue
                {% if game.game_mode == 'easy' %}green{% endif %}
                {% if game.game_mode == 'medium' %}orange{% endif %}
                {% if game.game_mode == 'hard' %}red{% endif %}
                no-bg-color" data-bs-toggle="tooltip" data-bs-placement="top" title="Game Mode">{{ game.game_mode }}</span>
    <span class="half-btn blue no-bg-color
                {% if game.game_won %}yellow{% else %}gray{% endif %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Game Result">{% if game.game_won %}Won 🏆{% else %}Loss ❌{% endif %}</span>
    {% if not game.game_won %}
    <span class="half-btn gray no-bg-color" data-bs-toggle="tooltip" data-bs-placement="top" title="Loss reason">{{ game.lose_reason }}</span>
    {% endif %}
    <span class="half-btn blue no-bg-color" data-bs-toggle="tooltip" data-bs-placement="top" title="Number of Tries">{{ game.number_of_tries }} 🎯</span>
    <span class="half-btn blue no-bg-color" data-bs-toggle="tooltip" data-bs-placement="top" title="Game Duration">{{ game.duration|convert_to_readable_time}} ⏲️</span>
    <span class="half-btn blue no-bg-color" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ game.date }} {{ game.start_time }}">🗓️ {{ game.date }}</span>
    </ul>

    <br><br>

    <div class="container d-flex align-items-center justify-content-center flex-column m-0 p-0">
        <a id="newgame" href="{% url 'play:play_view' %}"><h2 class="btn_ blue">Play again?</h2></a>
    </div>

    <script>
        document.getElementById("newgame").focus()
    </script>

    {% endif %}
</div>