{% extends "./base.html" %}
{% block content %}
{% load custom_template_tags %}
{% load static %}

<title>Numble - {{ game.game_mode }} game mode</title>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div class="container">

    <h3>Can you guess the {{ game_mode_len }}-digit number in {{ GAME_TRIES_LIMIT }} tries?</h3>
    
    <div id="parent-div">
        {% for i in game_tries_range %}
        <div class="numbers-row">
            {% for j in game_mode_range %}
            <button type="number" class="btn_ {% get_color game i j %} row-item center-logo">{% get_value_2d game_tries i j %}</button>
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    {% if can_current_request_user_play %}
    <form hx-post="{% url 'play:htmx_get_view' %}"
        hx-trigger="submit"
        hx-target="#parent-div">
        <div class="numbers-row">
            {% for i in game_mode_range %}
            <input type="number" id="input_cell{{i}}" name="input_cell{{i}}" maxlength="1" class="btn_ white  row-item"
                autofocus onfocus="this.select(); this.click();"
                oninput="javascript: if (this.value.length >= this.maxLength) {this.value = this.value.slice(0, this.maxLength); this.nextElementSibling.focus();}"
                required>
            {% endfor %}
        </div>
        <br>
        <div class="numbers-row"><input type="submit" class="btn_ blue submit" value="Submit"></div>
    </form>
    {% endif %}

    <br>
    
</div>

<script>
    document.addEventListener('keydown', function(event) {
    // Get the currently focused element
    const focusedElement = document.activeElement;
    // List of focusable elements
    const focusableElements = Array.from(document.querySelectorAll('input, button, [href], select, textarea, [tabindex]:not([tabindex="-1"])'));
    const index = focusableElements.indexOf(focusedElement);

    let nextElement = null;

    // Arrow key codes
    const KEY_CODE_LEFT = 37;
    const KEY_CODE_UP = 38;
    const KEY_CODE_RIGHT = 39;
    const KEY_CODE_DOWN = 40;

    // Function to get the next element based on direction
    function getNextElement(direction) {
        if (direction === 'left' || direction === 'up') {
        return focusableElements[index - 1] || focusableElements[focusableElements.length - 1];
        } else if (direction === 'right' || direction === 'down') {
        return focusableElements[index + 1] || focusableElements[0];
        }
    }

    // Handle arrow key events
    switch (event.keyCode) {
        case KEY_CODE_LEFT:
        nextElement = getNextElement('left');
        break;
        case KEY_CODE_UP:
        nextElement = getNextElement('up');
        break;
        case KEY_CODE_RIGHT:
        nextElement = getNextElement('right');
        break;
        case KEY_CODE_DOWN:
        nextElement = getNextElement('down');
        break;
        default:
        break;
    }

    if (nextElement) {
        event.preventDefault();
        nextElement.focus();
    }
    });
</script>

{% endblock %}