{% extends "./base.html" %} 
{% block content %} 
{% load static %}

<div class="wrapper">
<div class="wrapped">

<img class="index-logo" type="image/svg" src="{% static 'play/images/favicon.svg' %}">

<a href="{% url 'play:play_view' %}"><h1>Play Now!</h1></a>

{% if not user.is_authenticated %}
<br>
<h2>Sign up / Log in</h2>
<h3>to get stats and play more modes</h3>
<br>
<a href="{% url 'play:signup_view' %}">Sign up</a>
<br>
<br>
<a href="{% url 'play:login_view' %}">Log in</a>

{% endif %}

</div>
</div>

{% endblock %}