{% extends "./base.html" %}
{% block content %}

<div class="container d-flex align-items-center justify-content-center flex-column">
    <br>
    <br>
    <div>
        <div class="numbers-row">
            <button type="number" value="0" class="btn_ orange row-item center-logo">0</button>
            <button type="number" value="1" class="btn_ gray row-item center-logo">1</button>
            <button type="number" value="3" class="btn_ green row-item center-logo">3</button>
        </div>
        <div class="numbers-row">
            <button type="number" value="4" class="btn_ gray row-item center-logo">4</button>
            <button type="number" value="5" class="btn_ green row-item center-logo">5</button>
            <button type="number" value="2" class="btn_ orange row-item center-logo">2</button>
        </div>
        <div class="numbers-row">
            <button type="number" value="7" class="btn_ green row-item center-logo">7</button>
            <button type="number" value="8" class="btn_ orange row-item center-logo">8</button>
            <button type="number" value="6" class="btn_ gray row-item center-logo">6</button>
        </div>
    </div>
    <br>
    <div>
        <h4>Can you guess the number?</h4>
    </div>
    <div class="hide-if-screen-too-small">
        <br>
    </div>
    <div>
        <a href="{% url 'play:play_view' %}">
            <h1 class="btn_ yellow">Play Now!</h1>
        </a>
    </div>
    <div class="hide-if-screen-too-small">
        <br>
    </div>
    {% if not user.is_authenticated %}
    <div>
        <h4>Sign up / Log in</h4>
    </div>
    <div>
        <h5 class="text-muted">to get stats and play more modes</h5>
    </div>
    <div>
        <a class="half-btn blue" href="{% url 'play:signup_view' %}">Sign up</a>
        <a class="half-btn blue" href="{% url 'play:login_view' %}">Log in</a>
    </div>
    {% else %}
    <br>
    <div class="hide-if-screen-too-small">
        <br>
    </div>
    <div>
        <h3>Welcome</h3>
    </div>
    <div>
        <h2>{{ request.user.username }}</h2>
    </div>
    {% endif %}
</div>

{% endblock %}