{% extends "./base.html" %}
{% block content %}
{% load custom_template_tags %}

<div class="container">

    <br>

    <h1 style="text-align: center;">Leaderboard</h1>

    <div class="col-12 center-a-div">
        <label class="p-2">Game Mode: </label>
        <select class="form-select" style="width: 120px;" onchange="redirect(this)">
            <option selected>{{ game_mode }}</option>
            {% for option in other_modes %}
            <option id="select_game_mode" name="{{ option }}" value="{{ option }}">{{ option }}</option>
            {% endfor %}
        </select>
    </div>

    <br>

    <div class="d-flex align-items-center justify-content-center flex-column">
        {% if not is_list_empty %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"># Rank</th>
                    <th scope="col">Username</th>
                    <th scope="col">Number of Tries</th>
                    <th scope="col">Game Duration</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for leaderboard_game in top_games %}
                <tr>
                    <th scope="row">{{ leaderboard_game.rank }}{% if leaderboard_game.rank == 1 %} 🥇{% endif %}{% if leaderboard_game.rank == 2 %} 🥈{% endif %}{% if leaderboard_game.rank == 3 %} 🥉{% endif %}</th>
                    <td>{{ leaderboard_game.user.username }}</td>
                    <td>{{ leaderboard_game.game.number_of_tries }}</td>
                    <td>{{ leaderboard_game.game.duration|convert_to_readable_time}}</td>
                    <td>{{ leaderboard_game.game.date }}</td>
                    <td>{{ leaderboard_game.game.start_time }}</td>
                    <td><a href="{% url 'play:game_by_id_view' game_mode=leaderboard_game.game.game_mode game_id=leaderboard_game.game.pk %}" class="btn btn-primary btn-sm">View Game</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <br>
        <h5 style="text-align: center;">There are no games to be displayed</h5>
        {% endif %}
    </div>
</div>

<script>
    function redirect(selectObj) {
        let idx = selectObj.selectedIndex;
        let which = selectObj.options[idx].value;
        location.replace(`{% url 'play:leaderboard_view' %}?game_mode=${which}`)
    }
</script>

{% endblock %}