{% extends "./base.html" %}
{% block content %}
{% load custom_template_tags %}

<title>Numble - {{ profile_user.username }}</title>

<div class="container">

    <br>

    <div class="card-group">
        <div class="card mb-3 border user_card">
            <div class="row no_card_flex_wrap">
                <div class="col" style="text-align: right;">
                    <span style="font-size: 220%; line-height: 400%;">{{ profile_initials }}</span>
                </div>
                <div class="col">
                    <div class="card-body">
                        <h5 class="card-title">{{ profile_user.username }}</h5>
                        <p class="card-text">{{ profile_user.first_name }} {{ profile_user.last_name }}</p>
                        {% if profile_user == request.user %}
                        <a href="#" class="btn btn-sm btn-info" style="color: aliceblue;">Edit Profile</a>
                        {% endif %}
                        {% if profile_user != request.user %}
                        <a href="#" class="btn btn-sm btn-info" style="color: aliceblue;">{{ is_friend }}</a>
                        {% endif %}
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="card text-center mb-3 border user_stats_card">
            <div class="card-body">
                <br>
                <h5 class="card-title">Current Streak</h5>
                <h2 class="card-text">{{ streak }} 🔥</h2>
            </div>
        </div>
        <div class="card text-center mb-3 border user_stats_card">
            <div class="card-body">
                <br>
                <h5 class="card-title">Dailies Solved</h5>
                <h2 class="card-text">{{ daily_games }} 📅</h2>
            </div>
        </div>
        <div class="card text-center mb-3 border user_stats_card">
            <div class="card-body">
                <br>
                <h5 class="card-title">Total wins</h5>
                <h2 class="card-text">{{ player_stats.games_won }}</h2>
            </div>
        </div><div class="card text-center mb-3 border user_stats_card">
            <div class="card-body">
                <br>
                <h5 class="card-title">Total losses</h5>
                <h2 class="card-text">{{ player_stats.games_lost }}</h2>
            </div>
        </div>
    </div>

    <h3>Game History</h3>
    {% if not is_history_empty %}
    <h5>Last 5 games:</h5>
    <div class="card-group">
        {% for game in game_history %}
        <div class="card text-center mb-3 border card_override">
            <div class="card-body">
                <span class="half-btn blue
                {% if game.game_mode == 'easy' %}green{% endif %}
                {% if game.game_mode == 'medium' %}orange{% endif %}
                {% if game.game_mode == 'hard' %}red{% endif %}
                no-bg-color" data-bs-toggle="tooltip" data-bs-placement="top" title="Game Mode">{{ game.game_mode }}</span>
                <span class="half-btn blue no-bg-color
                {% if game.game_won %}yellow{% else %}gray{% endif %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Game Result">{% if game.game_won %}Won 🏆{% else %}Loss ❌{% endif %}</span>
                {% if not game.game_won %}
                <span class="half-btn gray no-bg-color" data-bs-toggle="tooltip" data-bs-placement="top" title="Loss reason">{{ game.lose_reason }}</span>
                {% endif %}
                <br>
                <span class="half-btn blue no-bg-color" data-bs-toggle="tooltip" data-bs-placement="top" title="Number of Tries">{{ game.number_of_tries }} 🎯</span>
                <span class="half-btn blue no-bg-color" data-bs-toggle="tooltip" data-bs-placement="top" title="Game Duration">{{ game.duration|convert_to_readable_time}} ⏲️</span>
                <br>
                <span class="half-btn blue no-bg-color ht" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ game.date }} {{ game.start_time }}">🗓️ {{ game.date }}</span>
                <br>
                <br>
                <a href="{% url 'play:game_by_id_view' game_mode=game.game_mode game_id=game.pk %}" class="btn btn-primary">View Game</a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h5>There are no previously played games</h5>
    {% endif %}
</div>



{% endblock %}