{% extends "./base.html" %}
{% block content %}

{% load custom_template_tags %}
{% load static %}

<link rel="stylesheet" href="{% static 'play/css/game.css' %}">
<link rel="stylesheet" href="{% static 'play/css/profile.css' %}">

<div class="container">

    <div class="card-group">
        <div class="card mb-3 border user_card">
            <div class="row no_card_flex_wrap">
                <div class="col" style="text-align: right;">
                    <span style="font-size: 300%; line-height: 300%;">{{ profile_initials }}</span>
                </div>
                <div class="col">
                    <div class="card-body">
                        <h5 class="card-title">{{ profile_user.username }}</h5>
                        <p class="card-text">{{ profile_user.first_name }} {{ profile_user.last_name }}</p>
                        {% if profile_user == request.user %}
                        <a href="#" class="btn btn-sm btn-info" style="color: aliceblue;">Edit Profile</a>
                        {% endif %}
                        {% if profile_user != request.user %}
                        <a href="#" class="btn btn-sm btn-info" style="color: aliceblue;">{{ is_friend }}</a>
                        {% endif %}
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="card text-center mb-3 border user_stats_card">
            <div class="card-body">
                <br>
                <h5 class="card-title">Total Games</h5>
                <h2 class="card-text">{{ player_stats.games_played }}</h2>
            </div>
        </div>
        <div class="card text-center mb-3 border user_stats_card">
            <div class="card-body">
                <br>
                <h5 class="card-title">Total wins</h5>
                <h2 class="card-text">{{ player_stats.games_won }}</h2>
            </div>
        </div><div class="card text-center mb-3 border user_stats_card">
            <div class="card-body">
                <br>
                <h5 class="card-title">Total losses</h5>
                <h2 class="card-text">{{ player_stats.games_lost }}</h2>
            </div>
        </div>
    </div>

    <h3>Game History</h3>
    {% if not is_history_empty %}
    <h5>Last 5 games:</h5>
    <div class="card-group">
        {% for game in game_history %}
        <div class="card text-center mb-3 border card_override">
            <div class="card-body">
                <span class="half-btn blue
                {% if game.game_mode == 'easy' %}green{% endif %}
                {% if game.game_mode == 'medium' %}orange{% endif %}
                {% if game.game_mode == 'hard' %}red{% endif %}
                no-bg-color">{{ game.game_mode }}</span>
                <span class="half-btn blue no-bg-color
                {% if game.game_won %}yellow{% else %}gray{% endif %}">{% if game.game_won %}Won 🏆{% else %}Lose{% endif %}</span>
                <br>
                <span class="half-btn blue no-bg-color">{{ game.number_of_tries }} Tries</span>
                <span class="half-btn blue no-bg-color">{{ game.duration|convert_to_readable_time}}</span>
                <br>
                <span class="half-btn blue no-bg-color">{{ game.date }}</span>
                <br>
                <br>
                <a href="{% url 'play:game_by_id_view' game_mode=game.game_mode game_id=game.pk %}" class="btn btn-primary">View Game</a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h5>There are no previously played games</h5>
    {% endif %}
</div>

{% endblock %}