{% extends "../base.html" %}
{% block content %}

<title>Numble - Reset Password</title>

<br><br>

<div class="container" style="width: 400px;">

    <form class="px-4 py-3"
        action="{% url 'play:password_reset_done_view' %}?token={{ token }}" method="post">
        {% csrf_token %}

        <legend>
            <h1>Password Reset</h1>
        </legend>

        <br><br>

        <div class="mb-3">
            <label class="form-label" for="username"><b>Enter the new password for {{ username }}</b></label>
            <input class="form-control" type="password" placeholder="Enter new password" name="password" id="password" required>
        </div>

        <div class="mb-3">
            <label class="form-label" for="username"><b>Re-enter the password</b></label>
            <input class="form-control" type="password" placeholder="Re-enter the Password" name="password2" id="password2" required>
        </div>

        {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
        {% endif %}
        
        <div class="center-a-div">
            <button type="submit" class="btn_ blue">Set new password</button>
        </div>
    </form>

</div>



{% endblock %}