{% extends "../base.html" %}
{% block content %}

<title>Numble - Reset Password</title>

<br><br>

<div class="container" style="width: 400px;">

    <form class="px-4 py-3"
        action="{% url 'play:password_reset_view' %}" method="post">
        {% csrf_token %}

        <legend>
            <h1>Password Reset</h1>
        </legend>

        <br><br>

        <div class="mb-3">
            <label class="form-label" for="email"><b>Enter Email / Username (case sensitive)</b></label>
            <input class="form-control" type="text" placeholder="Enter Email / Username" 
                value="{{ email_or_username }}" name="email_or_username" id="email_or_username" {{ disabled }} required>
        </div>

        {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
        {% else %}
        {% if disabled == 'disabled' %}
        <p><strong>We've emailed you instructions for setting your password</strong>,</p>
        <p>if an account exists with the email you entered. You should receive them shortly.</p>
        <p>If you don't receive an email,</p>
        <p>please make sure you've entered the address you registered with, and check your spam folder.</p>
        <div class="center-a-div">
            <a class="btn_ blue" href="{% url 'play:login_view' %}">Go to Log in Page</a>
        </div>
        {% endif %}
        {% endif %}
        
        {% if disabled != 'disabled' %}
        <div class="center-a-div">
            <button type="submit" class="btn_ blue {{ disabled_color }}" {{ disabled }}>Submit Request</button>
        </div>
        {% endif %}
    </form>

</div>



{% endblock %}